@using SchedulerCoreRazorEntityApp.Models;

@model IEnumerable<Job>
<h1>Jobs</h1>

<table class="table">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Designation</th>
            <th>Company</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var job in Model)
            {
                <tr>
                    <td>@job.JobId</td>
                    <td>@job.Designation_id</td>
                    <td>@job.Company_name</td>
                    <td>@job.Designation_id</td>
                    <td>@job.Status_id</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@job.JobId"></a>
                        <a asp-action="Edit" asp-route-id="@job.JobId"></a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
